@import '~antd/dist/antd.css';
@import '~grapesjs/dist/css/grapes.min.css';
@import '~grapesjs-plugin-toolbox/dist/grapesjs-plugin-toolbox.min.css';

body {
  overflow: hidden;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #1890ff;
}
